@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_App";
}

@{
    Layout = "_App";
    var employmentDetails = ViewData["employmentDetails"] as IEnumerable<EmploymentDetail>;
}

<div class="main_content_iner ">
<div class="container-fluid p-0">
<div class="row justify-content-center">
<div class="col-12">
    <div class="dashboard_header mb_50">
        <div class="row">
            <div class="col-lg-6">
                <div class="dashboard_header_title">
                    <h3>Employee Details</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dashboard_breadcam text-end">
                    <p><a href="#">Configurations</a> <i class="fas fa-caret-right"></i> Employee Details</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="QA_section">
        <div class="white_box_tittle list_header">
            <h4>Employee List</h4>
            <div class="box_right d-flex lms_block">
                <div class="serach_field_2">
                    <div class="search_inner">
                        <form Active="#">
                            <div class="search_field">
                                <input type="text" placeholder="Search content here...">
                            </div>
                            <button type="submit">
                                <i class="ti-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="add_button ms-2">
                    <a asp-controller="Config" asp-action="ManageEmploymentDetails" class="btn_1">Add New</a>
                </div>
            </div>
        </div>
        <div class="QA_table mb_30">
            @if (employmentDetails is not null)
            {
            <table class="table lms_table_active">
                <thead>
                <tr>
                    <th scope="col">Employment Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Department</th>
                    <th scope="col">Contract Start</th>
                    <th scope="col">Contract end</th>
                    
                </tr>
                </thead>
                <tbody>
                @foreach (var employmentDetail in employmentDetails)
                {
                    <tr>
                        <td>@employmentDetail.EmploymentNumber</td>
                        <td>@employmentDetail.User.FirstName @employmentDetail.User.LastName</td>
                        <td>@employmentDetail.Position.Name</td>
                        <td>@employmentDetail.Department.Name</td>
                        <td>@employmentDetail.ContractStart.ToShortDateString()</td>
                        <td>@employmentDetail.ContractEnd.ToShortDateString()</td>
                    </tr>
                }

                </tbody>
            </table>
            }
        </div>
    </div>
</div>
</div>
</div>
</div>
